body{
  color: white;
  background-color: black;
  font-size:8pt;
  font-family:Consolas, monospace;
  margin:0;
  height:100vh;
  overflow:auto;
  position:relative;
}
.title{
  margin:auto;
  font-size:16pt;
  font-weight:bold;
}
.bold{
  font-weight: bold;
}
th, td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
TD.catValue {
  padding:0px;
}
TD.catName {
  width:120px;
  padding:0px;
  font-weight:bold;
}
td.numeric{
  text-align: right;
}
td.text {
  text-align: left;
}
td.normal {
  text-align: center;
}
.on{
  color: #080;
}
.off{
  color: #800;
}
TH, td.decor {
  text-align:center;
  vertical-align:center;
  font-size:8pt;
  font-weight:bold;
  color: black;
  background-color: white;
  border-bottom: #444 solid 1px;
  border-left: #ccc solid 1px;
  border-right: #444 solid 1px;
  border-top: #ccc solid 1px;
}
TR.data {
  text-align:left;
  vertical-align:top;
  background-color:#222;
  padding:4px;
  font-size:8pt;
}
TR.data:hover {
  background-color:#444;
}
a {
  font-weight:normal;
  color: #fd0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline dotted;
}
a::selection {
  background-color: #fd0;
  color: #000;
}
table {
  margin:0px auto;
  font-size:8pt;
}
table.list {
  border: 1px solid;
}
img.floater {
  position: absolute;
  /*pointer-events: none;*/
  cursor: pointer;
  z-index: 0;
  opacity: 0.5;
}
.bar {
  position: relative;
  width: 100vw;
  height: 26px;
}
.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  text-align: left;
}
.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  text-align: right;
}
::selection {
  background-color: white;
  color: #000;
}
.spacer {
  display: inline-block;
  width: 24px;
  height: 24px;
}
[tooltip] {
  position: relative;
}
[tooltip]:after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  bottom: 100%;
  color: #fff;
  background-color: #000;
  border: #fd0 solid 1px;
  width: max-content;
  padding: 1px;
  display: none;
  z-index: 1;
}
[tooltip]:hover:after {
  display: block;
}