body{
  color: white;
  background-color: black;
  font-size:8pt;
  font-family:Consolas, monospace;
  margin:0;
  height:100vh;
  overflow:auto;
  position:relative;
}
.title{
  margin:auto;
  font-size:16pt;
  font-weight:bold;
}
.bold{
  font-weight: bold;
}
.list {
  display: inline-block;
  margin: 0px auto;
  padding: 4px;
  border: 1px solid #fff;
}
table.data th, table.data td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
table th.tight, table td.tight {
  padding: 1px;
}
table.inputs th, table.inputs td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
TD.catValue {
  padding:0px;
}
TD.catName {
  width:120px;
  padding:0px;
  font-weight:bold;
}
td.numeric{
  text-align: right;
}
td.text {
  text-align: left;
}
td.normal {
  text-align: center;
}
.on{
  color: #080;
}
.off{
  color: #800;
}
TH, td.decor {
  text-align:center;
  vertical-align:center;
  font-size:8pt;
  font-weight:bold;
  color: black;
  background-color: white;
  border-bottom: #444 solid 1px;
  border-left: #ccc solid 1px;
  border-right: #444 solid 1px;
  border-top: #ccc solid 1px;
}
TR.data {
  text-align:left;
  vertical-align:top;
  background-color:#222;
  padding:4px;
  font-size:8pt;
}
TR.data:hover {
  background-color:#444;
}
a {
  font-weight:normal;
  color: #fd0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline dotted;
}
a::selection {
  background-color: #fd0;
  color: #000;
}
table {
  margin:0px auto;
  table-layout: fixed;
}
.bordered {
  gap: 0px;
  padding: 0px;
  border: 1px solid #fff;
  border-radius: 0px;
}
caption > div {
  display: flex;
  align-items: flex-end;
}
.separated {
  display: flex;
  justify-content: space-between;
}
img.floater {
  position: absolute;
  /*pointer-events: none;*/
  cursor: pointer;
  z-index: 0;
  opacity: 0.5;
}
.icon-yes {
    width: 12px;
    height: 12px;
    background-image: url('../octicon/check-circle-fill_12_080.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.icon-no {
    width: 12px;
    height: 12px;
    background-image: url('../octicon/x-circle-fill_12_800.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.bar {
  position: relative;
  width: 100vw;
  height: 26px;
}
.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.centerH {
  position: relative;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  text-align: left;
}
.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  text-align: right;
}
::selection {
  background-color: white;
  color: #000;
}
.spacer {
  display: inline-block;
  width: 24px;
  height: 24px;
}
[tooltip] {
  position: relative;
  --tooltip: attr(tooltip);
}
[tooltipr] {
  position: relative;
  --tooltip: attr(tooltipr);
}
[tooltip]:after, [tooltipr]:after {
  content: var(--tooltip);
  position: absolute;
  bottom: -200%;
  color: #0cc;
  background-color: #000;
  border: #0cc solid 1px;
  width: max-content;
  padding: 1px;
  display: none;
  z-index: 2;
}
[tooltip]:after {
  left: 0;
}
[tooltipr]:after {
  right: 0;
}
[tooltip]:hover:after, [tooltipr]:hover:after {
  display: block;
}
form {
  font-size:8pt;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 0px;
}
button {
  font-size:8pt;
  cursor: pointer;
  color: #fd0;
  border: 1px solid #fd0;
  background-color: #000;
}
input, select {
  box-sizing: border-box;
  font-size:8pt;
  color: #fff;
  border: 1px solid #fff;
  background-color: #000;
}
:focus {
  font-size:8pt;
  color: #fff;
  border: 1px solid #fff;
  background-color: #000;
}
.text-box {
  line-height: 2ex;
  padding: 4px;
  border: 1px solid white;
  white-space: normal;
  overflow: auto;
  overflow-wrap: anywhere;
  box-sizing: border-box;
}